@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

p {
    margin: 0;
    padding: 0;
}

.group-chat {
    font-family: 'Courier New', Courier, monospace; 
    width: 80%;
    height: calc(100vh - 120px);
    background-color: #fff;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px 5px 0 0 ;
    font-family: 'inherit';
}

.group-chat .group-title {
    font-family: 'Courier New', Courier, monospace; 
    min-height: 30px;
    width: 100%;
    border-bottom: 2px solid #c8c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
}

.group-chat .group-title h1{
    margin: 0;
}

.group-chat .group-content{
    padding: 20px;
    width: 100%;
    overflow: scroll;
    overflow-x: auto;
    height: calc(100% - 30px - 75px);
    display: flex;
    flex-direction: column;
}

.group-chat .group-content .mes {
    width: 100%;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
}

.group-chat .group-content .mes .mes-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.group-chat .group-content .mes .mes-img {
    width: 200px;
    cursor: pointer;
    object-fit: cover;

}

.group-chat .group-content .mes .mes-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.group-chat .group-content .mes .mes-content .mes-value {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #5db154;
    word-wrap: break-word;
    margin: 0;
    max-width: 70%;
    color: #fff;
}

.group-chat .group-content .mes.me .mes-name {
    display: flex;
    justify-content: flex-end;
}


.group-chat .group-content .mes.me .mes-content .mes-value{
    background-color: #0084ff;
}

.mes-name {
    font-size: 12px;
    color: #adacac;
    margin-left: 0;
    margin-top: 4px;
}

.mes .mes-name {
    padding-left: 50px;
}

.group-chat .group-content .mes.me .mes-content {
    display: flex;
    justify-content: flex-end;
}


.send-mes {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
}

.list-img {
    width: 100%;
    min-height: 80px;
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
}

.list-img-item {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    position: relative;
}

.list-img-item-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transform: translate(50%, -50%);
    /* background-color: red; */
    /* color: white; */
    /* font-weight: 800; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.list-img-item-img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
}



.list-content {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    min-height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #f0f2f5;
    /* border-left: 0.5px solid #c8c8c8;
    border-right: 0.5px solid #c8c8c8; */
    margin-bottom: 1rem;
}   

.list-content input {
    border: none;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px;
    padding: 10px 0;
    width: 80%;
    background-color: #f0f2f5;
}

.list-content input:focus {
    outline: none;
}

.list-content .send-mes-icon {
    display: flex;
    align-items: center;
}

.list-content .send-mes-icon svg{
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.image-upload > input {
    display: none;
}

.modal-content {
    background-color: #777777;
    margin: 0;
    padding: 0;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body img {
    width: 100%;
    height: auto;
}

.circle {
    width: 50px;
    height: 50px;
    /* line-height: 500px; */
    border-radius: 50%;
    /* font-size: 50px; */
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    display: flex;
    /* background: rgb(185, 159, 6); */
    margin-bottom: 1px;
    margin-right: 1px;
}