.container-fluid.container-register {
    position: absolute;
    height: 100%;   
    background-color: #fff;
    font-family: arial;
    overflow:auto;
    color: #180d0d;
}

h1.title-register {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
}

p.msg-error-register {
    color: #f32e2e;
}

button.btn.btn-success.btn-return-login {
    background-color: #F05123;
}

.btn-return-login{
    margin-right: 1%;
}
