.pa--5 {
    padding: 5px !important;
}
.img-card-outline {
    border-radius: 15px !important;
    height: 160px;
}
.card-master-outline {
    border-radius: 15px !important;
    height: 100%;
    width: 281px !important;

    /* max-width: 310px !important; */
}
.flex-outline {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 24% !important;
    justify-content: start !important;
}
.lesson-action {
    color: black !important;
}

.lesson-action--enable {
    cursor: pointer;
}

.lesson-action--disable {
    cursor: default !important;
    pointer-events: none;
}
.lesson-item-disable {
    background-color: rgba(0,0,0,.08);
    color: grey;
    margin: 0 30px;
    cursor: default !important;
}
.footer-cus {
    background-color: #000000;
    height: 180px;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 60px;
}
.footer--item {
    flex-basis: 15%;
    flex-direction: column;
    color: white;
}
.footer--item--larger {
    flex-basis: 48%;
    flex-direction: column;
    color: white;
}

.footer--item-link {
    text-decoration: none;
    color: white;
}
.list-item {
    margin: 5px 0;
    display: block;
}
.footer--title {
    font-size: large;
    font-weight: 700;
    margin-left: -25px;
}